{% extends 'base.html.twig' %}

{% block body %}
    <h1>ParticipationFormation</h1>

    <table>
        <tbody>
            <tr>
                <th>Etat</th>
                <td>{% if participationFormation.etat %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ participationFormation.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('participationformation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('participationformation_edit', { 'id': participationFormation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
