{% extends '::adminlayout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('plugins/datatables/dataTables.bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('plugins/datatables/jquery.dataTables.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ asset('dist/css/skins/_all-skins.min.css') }}">
{% endblock %}

{% block body %}
    {% set IDs = {} %}
    <section class="content-header">
        <h1>Matchs</h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title"><a data-toggle="modal" href="#addModal" data-target="#addModal"
                                                 class="btn btn-success">
                                <i class="fa fa-plus">Ajouter</i></a></h3>
                        <div id="addModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Match creation</h4>
                                    </div>
                                    <div class="modal-body">
                                        {{ render(path("partie_new")) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="tableMatch" datatable="" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>Type</th>
                                <th>Score</th>
                                <th>Date</th>
                                <th>Id</th>
                                <th style="width: 70px">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for match in parties %}
                                {% set IDs=IDs|merge([''~match.id])  %}
                                <tr>
                                    <td><a href="{{ path('partie_show', { 'id': match.id }) }}">{{ match.genre }}</a></td>
                                    <td>{{ match.score }}</td>
                                    <td>{{ match.dateMatch }}</td>
                                    <td>{{ match.id }}</td>
                                    <td>
                                        <a data-toggle="modal" href="#editModal{{ match.id }}"
                                           data-target="#editModal{{ match.id }}"
                                           class="btn btn-warning"><i class="fa fa-edit"></i></a>

                                        <a type="button" class="btn btn-danger" data-toggle="modal"
                                           data-target="#confirmModal{{ match.id }}"
                                           href="#confirmModal{{ match.id }}"><i class="fa fa-trash-o"></i>
                                        </a>

                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% for id in IDs %}
        <div id="editModal{{ id }}" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                                data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Match edit</h4>
                    </div>
                    <div class="modal-body">
                        {{ render(path("partie_edit", { 'id': id })) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirmModal{{ id }}" role="dialog">
            <div class="modal-dialog modal-sm ">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" >Confirmation</h4>
                    </div>
                    <div class="modal-body" style="background-color: #fff">
                        <p>Voulez vous supprimer le match {{ id }}</p>
                    </div>
                    <div class="panel-footer">
                        <a href="{{ path('partie_delete', { 'id':id }) }}"
                           class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        </div>

{% endfor %}
{% endblock %}

{% block scripts %}
    <!-- jQuery 2.1.4 -->
    <script src="{{ asset('plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
    <!-- Bootstrap 3.3.5 -->
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- DataTables -->
    <script src="{{ asset('plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <!-- SlimScroll -->
    <script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
    <!-- FastClick -->
    <script src="{{ asset('plugins/fastclick/fastclick.min.js') }}"></script>
    <!-- AdminLTE App -->
    <script src="{{ asset('dist/js/app.min.js') }}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{{ asset('dist/js/demo.js') }}"></script>
    <!-- page script -->
    <script>
        $(document).ready(function () {
            var table = $('#tableMatch').DataTable();

            $('#tableMatch tbody').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }
            });
        });
    </script>
{% endblock %}
