{% extends '::layout.html.twig' %}
{% block body %}
    <section class="drawer">
        <div class="col-md-12 size-img back-img-shop">
            <div class="effect-cover">
                <h3 class="txt-advert animated">The best news ATP WTP</h3>
                <p class="txt-advert-sub">News - Match - Player</p>
            </div>
        </div>

        <section id="single_news" class="container secondary-page">
            <div class="general general-results">
                <div class="top-score-title col-md-9">
                    <h3>{{ actualite.titre }}<span class="point-little">.</span></h3>

                    <p class="desc_news">{{ actualite.contenu }}.</p>

                    <p class="desc_news important_news data">by TFT Staff <i class="fa fa-calendar"></i>
                        {{ date(actualite.datePublication)|localizeddate('long', 'none') }}</p>

                    <div class="tab_news"><i class="fa fa-tag"></i><span>TAGS:</span>
                        <a href="{{ path('site_home') }}" class="tag">SPORT</a>
                        <a href="{{ path('site_news') }}" class="tag">TENNIS</a>
                        <a href="{{ path('site_players') }}" class="tag">PLAYERS</a>
                    </div>

                    <div class="other-news">
                        <h3>Other <span>News</span><span class="point-little">.</span></h3>
                        <ul id="product" class="bxslider">
                            {% for actualite in allActualites %}
                                <li>
                                    <img class="img-djoko" style="height: 170px;width: 280px;margin-bottom: 20px"
                                         src="/../../resources/images/actualites/{{ actualite.image }}"
                                         onerror="this.src='{{ asset("images/unknown-logo.jpg") }}'"/>
                                    <p class="product-title">{{ actualite.titre }}</p>
                                    <p class="txt-other-news">{{ actualite.contenu|slice(0,50) }}...</p>
                                    <div><a href="{{ path('single_news', {'id':actualite.id}) }}" class="ready-news">Read</a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="top-score-title l-comment">
                        <h3>LEAVE A <span>COMMENT</span><span class="point-little">.</span></h3>
                        <div class="col-md-12 login-page">
                            <form method="post" class="register-form">

                                <div class="name">
                                    <label for="name">* Name:</label>
                                    <div class="clear"></div>
                                    <input id="Text2" name="name" type="text" placeholder="e.g. Mr. John" required=""/>
                                </div>
                                <div class="name">
                                    <label for="email">* Email:</label>
                                    <div class="clear"></div>
                                    <input id="email" name="email" type="text" placeholder="e.g. Mr. Doe" required=""/>
                                </div>
                                <div class="message">
                                    <label for="message"> Message:</label>
                                    <textarea name="messagetext" class="txt-area" id="message" cols="30"
                                              rows="4"></textarea>
                                </div>
                                <div id="register-submit">
                                    <input type="submit" value="Submit"/>
                                </div>
                            </form>

                        </div>

                    </div><!--Close comment-->

                </div><!--Close Top Match-->
                <div class="col-md-3 right-column">
                    <div class="top-score-title col-md-12 right-title">
                        <h3>Latest News</h3>
                        {% for actualite in actualites %}
                            <div class="right-content">
                                <p class="news-title-right">{{ actualite.titre }}</p>
                                <p class="txt-right">{{ actualite.contenu[:100] }}...</p>
                                <a href="{{ path('single_news', {'id':actualite.id}) }}" class="ca-more"><i
                                            class="fa fa-angle-double-right"></i>more...</a>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="top-score-title col-md-12">
                        <img src="{{ asset('images/banner2.jpg') }}" alt=""/>
                    </div>
                    <div class="top-score-title col-md-12 right-title">
                        <h3>Photos</h3>
                        <ul class="right-last-photo">
                            {% for media in medias %}
                                <li>
                                    <div class="jm-item second">
                                        <div class="jm-item-wrapper">
                                            <div class="jm-item-image">
                                                <img src="{{ media.source }}" alt="" style="height: 80px; width: 80px"/>
                                                <div class="jm-item-description">
                                                    <div class="jm-item-button">
                                                        <i class="fa fa-plus"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
{% block javascripts %}
    <script src="js/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="js/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
    <!--MENU-->
    <script src="js/menu/modernizr.custom.js" type="text/javascript"></script>
    <script src="js/menu/cbpHorizontalMenu.js" type="text/javascript"></script>
    <!--END MENU-->
    <script src="js/jquery.bxslider.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            "use strict";
            if (document.body.clientWidth < 400) {
                $('#product').bxSlider({
                    minSlides: 1,
                    maxSlides: 3,
                    slideWidth: 300,
                    slideMargin: 10
                });
            }
            else if (document.body.clientWidth < 600) {
                $('#product').bxSlider({
                    minSlides: 2,
                    maxSlides: 3,
                    slideWidth: 265,
                    slideMargin: 10
                });
            }
            else {
                $('#product').bxSlider({
                    minSlides: 3,
                    maxSlides: 3,
                    slideWidth: 265,
                    slideMargin: 10
                });
            }
        });
    </script>

    <!-- Button Anchor Top-->
    <script src="js/jquery.ui.totop.js" type="text/javascript"></script>

    <script src="js/custom.js" type="text/javascript"></script>
{% endblock %}